<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink="/" routerLinkActive="active">Dating App</a>
            <!-- The '| async' allows to automatically unsubscribe 
                if the nav component is not visible or unused -->
            <ul class="navbar-nav mr-auto">
                <!-- Is a way to use conditionals since it won't generate any html nor will interfere with any styling -->
                <ng-container *ngIf="accountService.currentUser$ | async">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
                    </li>
                </ng-container>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/errors" routerLinkActive="active"> Errors </a>
                </li>
            </ul>

            <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
                <a class="dropdown-toggle text-light" dropdownToggle>Welcome {{user.username | titlecase}} </a>
                <div class="dropdown-menu mt-3" *dropdownMenu>
                    <a class="dropdown-item"> Edit Profile </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()"> Logout</a>
                </div>
            </div>

            <!-- This means that now the form is an angular form with '#loginForm="ngForm"' -->
            <!-- Since there's a button with a type as submit, it means that either with enter
            or the user presses the submit button the event ngSubmit is triggered, calling the login()
            method from the module -->
            <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
                <input name="username" [(ngModel)]="model.username" 
                    class="form-control mr-sm-2" type="search" placeholder="Username"/>
                <input name="password" [(ngModel)]="model.password"
                    class="form-control mr-sm-2" type="password" placeholder="Password"/>
                <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
            </form>
    </div>
</nav>